@use 'setting/variable' as v;


.l_inner{
    max-width: v.$content-width;
    padding-left: 16px;
    padding-right: 16px;
}


/* ----------header---------- */

.l_header{
    &-logo{
        font-size: 20px;
        padding: 20px;
    }

    &_nav{
        padding: 10px 16px;
        background-color:v.$primaryColor;
    &_list{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 60px;
        flex-wrap: nowrap;
        overflow: scroll;
    }
    &_item{
        color:v.$whiteColor;
    }
    }
}