@use 'base';

.m_btn-wrapper{
    text-align: center;
}

.m_btn{
    border-bottom: solid 1px #111;
}

.m_pickup{
    
    .m_pickup-txt{
       margin-top: 10px ;
       font-weight: bold;
    }

    .m_btn-wrapper{
      

        .m_btn{
            font-size: 14px;
        }
    }
}